#apDiv1 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
}
#apDiv2 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
}
#apDiv3 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
}
#apDiv4 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:1;
}
#image1 {
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-150px;
	margin-left:-150px;
	width:auto;
	height:auto;
	z-index:1;
	visibility: visible;
}
#image2 {
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-150px;
	margin-left:-150px;
	width:auto;
	height:auto;
	z-index:2;
	visibility: hidden;
}
#image3 {
	position:absolute;
	left:10px;
	top:180px;
	width:auto;
	height:auto;
	z-index:3;
	visibility: hidden;
}
#image4 {
	position:absolute;
	left:10px;
	top:180px;
	width:auto;
	height:auto;
	z-index:4;
	visibility: hidden;
}
